@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Regular.ttf");
}
html {
  font-family: "Roboto Mono";
  user-select: none;
  color: #eee;
  background-color: #2d2d2d;
  border: none;
  margin: 0px;
  padding: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
html body {
  display: contents;
  position: relative;
}
html body p {
  margin: 1px;
}
html body #navbar {
  border-bottom: 2px solid #ccc;
  background-color: #2d2d2d;
  width: 100%;
}
html body #navbar button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 10px;
  transition: 0.3s;
}
html body #navbar button.active {
  background-color: #f16258;
  color: #2d2d2d;
}
html body #navbar button.inactive {
  color: #eee;
}
html body #navbar button.inactive:hover {
  background-color: #aaa;
  color: #2d2d2d;
}
html body #navbar button.disabled {
  background-color: #4d4a4a;
  color: #2d2d2d;
}
html body #navbar button.disabled:hover {
  color: #2d2d2d;
  background-color: #4d4a4a;
}
html body #navbar button#logTab {
  display: none;
}
html body #navbar button#settingsTab {
  position: absolute;
  padding: 1.5px 1.5px;
  right: 0;
}
html body #navbar button#settingsTab img {
  display: block;
  margin: auto;
  width: 40px;
  height: auto;
  filter: invert(0.75);
}
html body #navbar button#settingsTab.active img {
  filter: invert(0.25);
}
html body #navbar #cashews {
  width: 100%;
  text-align: center;
  font-size: 175%;
  color: #41c245;
  border-top: 2px solid #ccc;
  line-height: 40px;
}
html body #notifications {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 84%;
  top: 7%;
  pointer-events: none;
}
html body #notifications .notification {
  z-index: 5000;
  width: 90%;
  height: auto;
  border-radius: 0.5em;
  background-color: #2f407a;
  color: #eee;
  margin-bottom: 1em;
}
html body #notifications .notification h1 {
  text-align: center;
  font-size: 130%;
}
html body #notifications .notification p {
  text-align: center;
  font-size: 100%;
  padding: 0.2em;
  margin-bottom: 0.3em;
}
html body #notifications .notification.achievement {
  width: 80%;
  font-size: 90%;
  background-color: #f5523c;
}
html body #canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0px;
}
html body #canvas #menu {
  width: 100%;
  margin-top: 0px;
  display: none;
  overflow: hidden;
}
html body #canvas #menu .tabcontent {
  margin-top: 0.75vh;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 10px);
  display: none;
  line-height: 20px;
}
html body #canvas #menu .tabcontent .contentWrapper {
  overflow: auto;
  max-height: 35vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-collapse: collapse;
}
html body #canvas #menu .tabcontent .contentWrapper .statTable {
  width: 100%;
  display: table;
  table-layout: auto;
}
html body #canvas #menu .tabcontent .contentWrapper .statTable .statRow {
  display: table-row;
  width: 100%;
  font-size: 70%;
}
html body #canvas #menu .tabcontent .contentWrapper .statTable .statRow .statsLabel {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: auto;
}
html body #canvas #menu .tabcontent .contentWrapper .statTable .statRow .statsValue {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: auto;
  text-align: right;
}
html body #canvas #menu .tabcontent .contentWrapper .resourceTable {
  width: 100%;
  display: table;
  table-layout: auto;
}
html body #canvas #menu .tabcontent .contentWrapper .resourceTable .resourceRow {
  display: table-row;
  width: 100%;
}
html body #canvas #menu .tabcontent .contentWrapper .resourceTable .resourceRow.disabled {
  color: #777;
}
html body #canvas #menu .tabcontent .contentWrapper .resourceTable .resourceRow.disabled .resourceCost {
  color: #777;
}
html body #canvas #menu .tabcontent .contentWrapper .resourceTable .resourceRow:hover {
  background-color: #4d4a4a;
}
html body #canvas #menu .tabcontent .contentWrapper .resourceTable .resourceRow .resourceCount {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: auto;
  text-align: center;
  font-size: 150%;
  padding: 0.25rem 1rem 0.25rem 1rem;
  color: #777;
}
html body #canvas #menu .tabcontent .contentWrapper .resourceTable .resourceRow .resourceCount.atleastone {
  color: #f16258;
}
html body #canvas #menu .tabcontent .contentWrapper .resourceTable .resourceRow .resourceRate {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: auto;
  text-align: left;
  font-size: 65%;
  color: #eee;
}
html body #canvas #menu .tabcontent .contentWrapper .resourceTable .resourceRow .resourceName {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: auto;
  padding-left: 5px;
  font-size: 80%;
  color: #eee;
}
html body #canvas #menu .tabcontent .contentWrapper .resourceTable .resourceRow .resourceCost {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: auto;
  color: red;
  font-size: 95%;
}
html body #canvas #menu .tabcontent .contentWrapper .upgradeTable {
  width: 100%;
  display: table;
  table-layout: auto;
}
html body #canvas #menu .tabcontent .contentWrapper .upgradeTable .upgradeRow {
  display: table-row;
  width: 100%;
}
html body #canvas #menu .tabcontent .contentWrapper .upgradeTable .upgradeRow.not-owned.disabled {
  color: #ccc;
  opacity: 90%;
}
html body #canvas #menu .tabcontent .contentWrapper .upgradeTable .upgradeRow.not-owned.disabled .upgradeCost {
  color: #ccc;
}
html body #canvas #menu .tabcontent .contentWrapper .upgradeTable .upgradeRow.not-owned.enabled {
  color: #eee;
}
html body #canvas #menu .tabcontent .contentWrapper .upgradeTable .upgradeRow.owned {
  color: #f16258;
}
html body #canvas #menu .tabcontent .contentWrapper .upgradeTable .upgradeRow.owned .upgradeCost {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: auto;
  text-align: right;
  color: #2d2d2d;
}
html body #canvas #menu .tabcontent .contentWrapper .upgradeTable .upgradeRow.conditionUnmet {
  display: none;
}
html body #canvas #menu .tabcontent .contentWrapper .upgradeTable .upgradeRow .upgradeName {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: auto;
  font-size: 80%;
}
html body #canvas #menu .tabcontent .contentWrapper .upgradeTable .upgradeRow .upgradeDescription {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: auto;
  font-size: 65%;
}
html body #canvas #menu .tabcontent .contentWrapper .upgradeTable .upgradeRow .upgradeCost {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: auto;
  text-align: right;
  color: red;
}
html body #canvas #menu .tabcontent .contentWrapper #achievementBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5px;
}
html body #canvas #menu .tabcontent .contentWrapper #achievementBox .achievement {
  margin: 3px;
  height: 0px;
  width: 0px;
  padding: 30px;
  background: url("../img/achievements/locked.png");
  background-size: auto;
  opacity: 40%;
}
html body #canvas #menu .tabcontent .contentWrapper #achievementBox .achievement.unlocked {
  width: 3.75rem;
  height: 3.75rem;
  padding: 0px;
  opacity: 100%;
}
html body #canvas #menu .tabcontent .contentWrapper #logBox {
  box-sizing: border-box;
  line-height: 15px;
  overflow-y: auto;
  scrollbar-width: none;
  border: 1px solid #ccc;
  padding: 5px;
}
html body #canvas #menu .tabcontent .contentWrapper#settingsContent ul li {
  font-size: 90%;
  display: inline-block;
  width: 100%;
  line-height: 1em;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
html body #canvas #menu .tooltip {
  position: absolute;
  height: auto;
  width: auto;
  background-color: #ccc;
  color: #2d2d2d;
  border-radius: 0.25em;
  pointer-events: none;
  padding: 0.25em;
}
html body #canvas #workbar {
  margin-top: 0.75vh;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 10px);
  display: block;
  text-align: center;
  height: calc(50px + 5vw);
  margin-top: 2vh;
  margin-bottom: 1vh;
}
html body #canvas #workbar .officeContainer {
  position: relative;
  display: none;
  height: 100%;
  width: calc(50px + 5vw);
  border-radius: 0.5rem;
  margin-left: 1vw;
  margin-right: 1vw;
}
html body #canvas #workbar .officeContainer.unlocked {
  display: inline-block;
}
html body #canvas #workbar .officeContainer.cooldown {
  background: #777;
}
html body #canvas #workbar .officeContainer img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 0.5rem;
}
html body #canvas #workbar .officeContainer img.cooldown, html body #canvas #workbar .officeContainer img.cooldown:hover {
  opacity: 35%;
  cursor: default;
}
html body #canvas #workbar .officeContainer img.cooldown.glow1, html body #canvas #workbar .officeContainer img.cooldown.glow2, html body #canvas #workbar .officeContainer img.cooldown.glow3, html body #canvas #workbar .officeContainer img.cooldown:hover.glow1, html body #canvas #workbar .officeContainer img.cooldown:hover.glow2, html body #canvas #workbar .officeContainer img.cooldown:hover.glow3 {
  opacity: 100%;
}
html body #canvas #workbar .officeContainer img:hover {
  opacity: 95%;
}
html body #canvas #workbar .officeContainer img.glow1 {
  box-shadow: 0px 0px 25px #d8993b, 0px 0px 15px #f8e432;
}
html body #canvas #workbar .officeContainer img.glow2 {
  box-shadow: 0px 0px 20px #d8993b, 0px 0px 10px #f8e432;
}
html body #canvas #workbar .officeContainer img.glow3 {
  box-shadow: 0px 0px 15px #d8993b, 0px 0px 8px #f8e432;
}
html body #canvas #projectBuffer {
  font-size: calc(calc(90% + 0.5vw) * 1.25);
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 0;
  line-height: calc(calc(90% + 0.5vw) * 1.25);
}
html body #canvas #projectBuffer.full {
  color: #f54343;
}
html body #canvas #projectBuffer.not-full {
  color: #eee;
}
html body #canvas #projectBar {
  margin-top: 0.75vh;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 10px);
  height: calc(12vh + 50px);
  width: 100%;
  display: flex;
  flex-shrink: 1;
  justify-content: space-around;
  position: relative;
}
html body #canvas #projectBar .project {
  height: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
  border: 0;
  display: inline-block;
}
html body #canvas #projectBar .project p {
  width: 100%;
  display: inline-block;
  padding: 0.25vh;
  margin: 0;
  position: relative;
  font-size: calc(calc(12vh + 50px) / 6);
  color: #2d2d2d;
  z-index: 15;
}
html body #canvas #projectBar .project.active {
  background-color: #f7f4a1;
}
html body #canvas #projectBar .project.active:hover {
  background-color: #fbfad0;
}
html body #canvas #projectBar .project.active .progressBar {
  background-color: #f16258;
}
html body #canvas #projectBar .project.inactive {
  background-color: #777;
}
html body #canvas #projectBar .project.inactive:hover {
  background-color: #919191;
}
html body #canvas #projectBar .project.inactive p {
  color: #eee;
}
html body #canvas #projectBar .project.inactive .progressBar {
  background-color: #aaa;
}
html body #canvas #projectBar .project .progressWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
  margin: 0;
  padding: 0;
  bottom: 0;
  border-radius: 1rem;
  overflow: hidden;
}
html body #canvas #projectBar .project .progressWrapper p {
  position: absolute;
  width: 100%;
  font-size: calc(calc(90% + 0.5vw) * 1.1);
  z-index: 10;
  padding: 0;
  margin: 0;
  bottom: 0.5em;
  left: 0;
}
html body #canvas #projectBar .project .progressWrapper .progressBar {
  position: absolute;
  height: 100%;
  width: 0%;
  z-index: 2;
}
html body #canvas #footer {
  margin-top: 0.75vh;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 10px);
  position: relative;
  bottom: 0;
  height: calc(3rem + 5px);
}
html body #canvas #footer #trelloButton {
  position: absolute;
  left: -3px;
  bottom: 0;
  width: 48px;
  height: 48px;
  background-image: url("../img/trello-icon.png");
  cursor: pointer;
  display: none;
}
html body #canvas #footer #trello {
  position: absolute;
  bottom: 50px;
  left: 2px;
  height: 300px;
  width: 220px;
  background-color: #1E88E5;
  padding: 5px;
  display: none;
  z-index: 100;
  border-radius: 5px;
}
html body #canvas #footer #trello h1 {
  line-height: 18px;
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 28px;
  margin-top: 10px;
  margin-left: 5px;
}
html body #canvas #footer #trello .trelloLabel {
  display: flex;
  width: 96%;
  margin-top: 20px;
}
html body #canvas #footer #trello #trelloDescr {
  position: absolute;
  width: 93%;
  resize: none;
}
html body #canvas #footer #trello #trelloName {
  width: 96%;
}
html body #canvas #footer #trello #trelloSend {
  position: absolute;
  bottom: 1%;
  right: 2%;
  height: 10%;
  width: 96%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: brown;
  font-weight: bold;
}
html body #canvas #footer .times {
  position: absolute;
  bottom: 0;
  right: 0px;
  margin: 5px;
  text-align: left;
  display: none;
}
html body #canvas #footer .times p {
  font-size: 80%;
  color: #eee;
}
html body .clickProgressIndicator {
  position: absolute;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border-radius: 40%;
  z-index: 25;
  pointer-events: none;
  color: #f16258;
  font-size: calc(100% + 0.5vw);
  font-weight: bold;
}
html body .addToBalanceIndicator {
  position: absolute;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border-radius: 40%;
  z-index: 25;
  pointer-events: none;
  color: #41c245;
  font-size: calc(100% + 0.5vw);
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
