html { display: contents; }
body {
  font-family: "Calibri";
  background-color: rgb(45, 45, 45);
  color: #fff;
  margin: 0px;
  padding: 0px;
  border:none;
  user-select: none;
}

p {
  margin: 1px
}

.navbar {
  border-bottom: 2px solid #ccc;
  background-color:rgb(45, 45, 45);
  width:100%;
  height: 5%;
}

.canvas {
  position:relative;
}

.leftSide {
  width: 50%;
  position:absolute;
  left:0;
  top:0;
}

.rightSide {
  width: 50%;
  position:absolute;
  right:0;
  top:0;
}

.workbar {
  width: 100%;
  height: 108px;
  bottom: 30%;
  box-sizing: border-box;
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;  
}

.workbar img {
  display: flex;
  padding: 5px;
  height: auto;
}

.projectCanvas {
  width: 100%;
  bottom: 5%;
  position: absolute;
  height: 20%;
}

.projectBar {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 100%;
  position: relative;
  display: flex;

}

.projectBar p {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 175%;
}

.project {
  height: 80%;
  margin-bottom: 4%;
  width: auto;
  margin-right: 1%;
  margin-left: 1%;
  box-sizing: border-box;
  position: relative;
  text-align: center;
} 

.full {
  color: rgb(245, 67, 67);
}
.not-full {
  color: white;
}

.project p {
  margin: initial;
  font-size: 150%;
  color:rgb(45, 45, 45);
  padding-top: 5px;
  padding-left: 10px;
  position: relative;
  background-color: initial;
}
.project.active {
  background-color: rgb(80, 211, 150);
}

.project.inactive {
  background-color: rgb(81, 143, 114);
}

.project.inactive p {
  color: rgb(175, 175, 175);
}
.project.active p {
  color: rgb(45, 45, 45);
}

.progressWrapper {
  position: absolute;
  width: 100%;
  height: 18%;
  bottom:0;
  text-align: center;
  font-size: 120%;
  box-sizing: border-box;
  z-index: 1
}

.progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width:0%;
  z-index: 2;
  margin: 0;
}

.project.inactive .progressBar {
  background-color: rgb(200, 200, 200);
}

.project.active .progressBar {
  background-color: rgb(242, 87, 76);
}

.progressWrapper p {
  margin: 0;
  padding: 0;
  font-size: 125%;
  color:rgb(45, 45, 45);
  z-index: 10;
}

.navbar button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.navbar button.active:hover {
  background-color: rgb(80, 211, 150);
  color:#fff;
}

.navbar button.inactive:hover{
  background-color: #ddd;
  color:rgb(45, 45, 45);
}

.navbar button.active {
  background-color: rgb(80, 211, 150);
  color:rgb(45, 45, 45);
}
.navbar button.inactive {
  color:#fff;
}

.tabcontent {
  display: none;
  border-bottom: 1px solid #ccc; 
  border-collapse: collapse;
  box-sizing: border-box;
  position:absolute;
  left:0;
  top:0;
  width: 100%;
}
.statTable {
  width: 100%;
  display: table;
  line-height: 20px;
}
.resourceTable {
  width: 100%;
  display: table;
  line-height: 20px;
}
.resourceRow {
  width: 100%;
  display: table-row;
  background: inherit;
}
.resourceCount {
  width: 15%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.resourceRate {
  width: 15%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.resourceName {
  width: 40%;
  display: table-cell;
  text-align: left;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  padding-left: 5px;
}
.resourceButton {
  width: 25%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.resourceButton.enabled {
  color: #fff;
}
.resourceButton.disabled {
  color: rgb(111, 110, 110);
}
.resourceButton.enabled:active {
  background-color: rgb(45, 45, 45);
}
.resourceButton:hover {
  background-color: #4d4a4a;
}
.buttonNumber {
  font-size: 120%;
}
.buttonCost {
  font-size: 90%;
  color: red;
}
.statRow {
  width: 100%;
  display: table-row;
  background: #2e2e2e;
}
.statsLabel {
  width: 50%;
  display: table-cell;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
}
.statsValue {
  width: 50%;
  display: table-cell;
  text-align: right;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}
.logBox {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  background: #2e2e2e;
  line-height: 15px;
  overflow-y: auto;
  scrollbar-width: none;
  border-bottom: 2px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 5px;
}

.equipmentTable {
  display: table;
  background-color: inherit;
  width: 100%;
}

.equipmentRow {
  display: table-row;
  background-color: inherit;
  width: 100%;
}

.equipmentRow.not-owned.disabled {
  background-color: inherit;
  color: #ccc;
  width: 100%;
}
.equipmentRow.not-owned.enabled {
  background-color: inherit;
  color: #fff;
  width: 100%;
}
.equipmentRow.owned {
  background-color: rgb(80, 211, 150);
  color: rgb(45, 45, 45);
  width: 100%;
}

.equipmentName {
  display: table-cell;
  width: 30%;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
}
.equipmentDescription {
  display: table-cell;
  width: 50%;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
}
.equipmentCost {
  display: table-cell;
  width: 20%;
  text-align: right;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-right: 5px;
}

.clickProgressIndicator {
  padding: 0px;
  margin: 0px;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(40, 40, 40, 0.5);
  z-index: 25;
  pointer-events:none;
  color: rgb(242, 87, 76);
  font-size: 80%;
}

.times {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 6%;
  height: 5%;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.times p {
  font-size: 80%;
  color:#fff;
}