// all colors
$darkgray: rgb(45, 45, 45);
$quitedarkgray: #4d4a4a;
$inactivegray: #777;
$notdarkgray: #aaa;
$lightgray: #ccc;
$almostwhite: #eee;
$activegreen: rgb(24, 224, 131);
$projectactive: rgb(247, 244, 161);
$costred: red;
$fullred: rgb(245, 67, 67);
$cashgreen: rgb(65, 194, 69);
$trelloblue: #1E88E5;
$create: brown;
$progressorange: rgb(242, 87, 76);

// font sizes
$cashew-fontsize: calc(125% + 0.5vw);
$project-fontsize: calc(90% + 0.5vw);
$floating-number-size: calc(100% + 0.5vw);

// this is used for the flex-items on the canvas
@mixin side-space {
  margin-top: 20px;
  margin-bottom: 0px; 
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 10px);
}

@mixin menu-table {
  //@include side-space;
  width: initial;
  display: table;
  margin-top: 10px;
}

// used to format the cells inside the menu tabs
@mixin table-cell {
  display: table-cell;
  vertical-align: middle;
  border-left: 1px solid $lightgray;
  border-top: 1px solid $lightgray;
  border-bottom: 1px solid $lightgray;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;   
  -webkit-tap-highlight-color: transparent;
}

html {

  font-family: "Calibri";
  user-select: none;
  color: $almostwhite;
  background-color: $darkgray;
  border: none;
  margin: 0px;
  padding: 0px;

  @include no-select;

  body {  

    display: contents;
    position: relative;

    p {
      margin: 1px
    }

    #navbar {

      border-bottom: 2px solid $lightgray;
      background-color: $darkgray;
      width: 100%;
      
      button {

        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        
        &.active {
          background-color: $activegreen;
          color: $darkgray;
        }

        &.inactive {
          color: $almostwhite;

          &:hover{
            background-color: $notdarkgray;
            color: $darkgray;
          }
        }

        &#settingsTab {

          position: absolute;
          padding: 1.5px 1.5px;
          right: 0;

          img {
            display:block;
            margin:auto;
            width: 40px;
            height: auto;
            filter: invert(0.75);
          }

          &.active {
            img {
              filter: invert(0.25);
            }
          }
        }
      }

      #cashews {
        width: 100%;
        text-align: center;
        font-size: 175%;
        color: $cashgreen;
        border-top: 2px solid $lightgray;
        line-height: 40px;        
      }
    }

    #canvas {

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      margin: 0px;

      #menu {

        width: 100%;
        margin-top: 0px;
        display: none;
        overflow: hidden;

        .tabcontent {

          @include side-space;
          display: none;
          line-height: 20px;
          
          .contentWrapper {

            overflow: auto;
            max-height: 35vh;
            
            .statTable {

              @include menu-table;

              .statRow {

                display: table-row;
                width: 100%;

                .statsLabel {
                  @include table-cell;
                }
                
                .statsValue {
                  @include table-cell;
                  text-align: right;
                  border-right: 1px solid $lightgray;
                }
              }
            }

            .resourceTable {

              @include menu-table;

              .resourceRow {

                display: table-row;

                .resourceCount {
                  @include table-cell;
                  text-align: center;
                }

                .resourceRate {
                  @include table-cell;
                  text-align: center;
                }

                .resourceName {
                  @include table-cell;
                  padding-left: 5px;
                }

                .resourceButton {
                  @include table-cell;
                  text-align: center;
                  user-select: none;
                  border-right: 1px solid $lightgray;

                  &.enabled {
                    color: $almostwhite;
                    
                    &:active {
                      background-color: $darkgray;
                    }
                  }

                  &.disabled {
                    color: $notdarkgray;
                  }

                  &:hover {
                    background-color: $quitedarkgray;
                  }

                  .buttonNumber {
                    font-size: 120%;
                  }

                  .buttonCost {
                    font-size: 90%;
                    color: $costred;
                  }
                }
              }
            }

            .upgradeTable {

              @include menu-table;

              .upgradeRow {

                display: table-row;
                
                &.not-owned {
                  
                  &.disabled {
                    color: $lightgray;
                  }
                  
                  &.enabled {
                    color: $almostwhite;
                  }                
                }

                &.owned {
                  background-color: $activegreen;
                  color: $darkgray;
                }

                .upgradeName {
                  @include table-cell;
                }
                
                .upgradeDescription {
                  @include table-cell;
                }
                
                .upgradeCost {
                  @include table-cell;
                  text-align: right;
                  border-right: 1px solid $lightgray;
                }
              }
            }    

            #achievementBox {
              display: flex;
              flex-wrap: wrap; 
              justify-content: flex-start; 
              padding: 5px;            

              .achievement {
                width: 3.75rem;
                height: 3.75rem;
                background-color:rgb(242, 87, 76);
                margin: 5px;
              }
            }

            #logBox {
              box-sizing: border-box;
              line-height: 15px;
              overflow-y: auto;
              scrollbar-width: none;
              border: 1px solid $lightgray;
              padding: 5px;
            }

            &#settings {
              ul {
                li {
                  display: inline-block;
                  line-height: 1em;
                  img {
                    vertical-align: middle;
                    width: 1em;
                    height: auto;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }    

      #workbar {
        
        @include side-space;
        display: block;
        text-align: center;
        height: calc(50px + 5vw);

        img {
          display: none;
          width: calc(50px + 5vw);
          height: auto;
          margin-left: 1vw;
          margin-right: 1vw;
          cursor: pointer;

          &:hover { opacity: 95% }
          &.unlocked { display: inline-block }
          &.glow1 { 
            box-shadow: 0px 0px 25px #d8993b,
                        0px 0px 15px #f8e432;
          }
          &.glow2 { 
            box-shadow: 0px 0px 20px #d8993b,
                        0px 0px 10px #f8e432;
          }
          &.glow3 { 
            box-shadow: 0px 0px 15px #d8993b,
                        0px 0px 8px #f8e432;
          }
        }
      }       
        
      #projectBar {
        
        @include side-space;
        height: 200px;
        display: flex;
        flex-shrink: 1;
        justify-content: space-around;
        position: relative;
        
        p {
          position: absolute;
          left: 50%;
          bottom: -10px;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          font-size: calc(#{$project-fontsize} * 1.25);

          &.full { color: $fullred }
          &.not-full { color: $almostwhite }
        }

        .project {
          
          height: 85%;
          position: relative;
          text-align: center;
          cursor: pointer;

          p {
            position: relative;
            font-size: $project-fontsize;
            color:$darkgray;
          }

          &.active {

            background-color: $projectactive;

            &:hover {
              background-color: lighten($projectactive, 10%);
            }
            
            .progressBar {
              background-color: $progressorange;
            }
          }

          &.inactive {

            background-color: $inactivegray;

            &:hover {
              background-color: lighten($inactivegray, 10%);
            }

            p {
              color: $almostwhite;
            }

            .progressBar {
              background-color: $notdarkgray;
            }
          }

          .progressWrapper {

            position: absolute;
            bottom: 27%;
            width: 100%;
            height: 15%;
            text-align: center;
            font-size: calc(#{$project-fontsize} * 0.9);
            box-sizing: border-box;
            z-index: 1;

            p {
              margin: 0;
              padding: 0;
              font-size: $project-fontsize;
              z-index: 10;
            }

            .progressBar {
              height: 100%;
              width:0%;
              z-index: 2;
            }
          }          
        } 
      }

      #footer {
        @include side-space;
        position: relative;
        bottom: 0;
        height: calc(3rem + 5px);
  
        #trelloButton {
          position: absolute;
          left: -3px;
          bottom: 0;
          width: 48px;
          height: 48px;
          background-image: url("../img/trello-icon.png");
          cursor: pointer;
        }
    
        #trello {
          
          position:absolute;
          bottom: 50px;
          left: 2px;
          height: 300px;
          width: 220px;
          background-color: $trelloblue;
          padding: 5px;
          display: none;
          z-index: 100;
    
          
          h1 {
            line-height: 18px;
            font-weight: bold;
            font-size: 130%;
            margin-bottom: 28px;
            margin-top: 10px;
            margin-left: 5px;
          }
    
          .trelloLabel {
            display: flex;
            width: 96%;
            margin-top: 20px;
          }
    
          #trelloDescr {
            position: absolute;
            width: 93%;
            resize: none;
          }
    
          #trelloName {
            width: 96%;
          }
    
          #trelloSend {
            position: absolute;
            bottom: 1%;
            right: 2%;
            height: 10%;
            width: 96%;
            justify-content: center;
            align-items: center;
            display: flex;
            background-color: $create;
            font-weight: bold;
          }
        }
        
        .times {
  
          position: absolute;
          bottom: 0;
          right: 0px;
          margin: 5px;
          text-align: left;
  
          p {
            font-size: 80%;
            color:$almostwhite;
          }
        }
      }
    }

    .clickProgressIndicator {
      position: absolute;
      padding: 0px;
      margin: 0px;
      text-align: center;
      border-radius: 40%;
      z-index: 25;
      pointer-events:none;
      color: $progressorange;
      font-size: $floating-number-size;
      font-weight: bold;
    }
    
    .addToBalanceIndicator {
      position: absolute;
      padding: 0px;
      margin: 0px;
      text-align: center;
      border-radius: 40%;
      z-index: 25;
      pointer-events:none;
      color: $cashgreen;
      font-size: $floating-number-size;
      font-weight: bold;
    }    
  }
}