// all colors
$darkgray: rgb(45, 45, 45);
$quitedarkgray: #4d4a4a;
$inactivegray: #777;
$notdarkgray: #aaa;
$lightgray: #ccc;
$almostwhite: #eee;
$activegreen: rgb(24, 224, 131);
$projectactive: rgb(247, 244, 161);
$costred: red;
$fullred: rgb(245, 67, 67);
$cashgreen: rgb(65, 194, 69);
$trelloblue: #1E88E5;
$notification: rgb(47, 64, 122);
$noficationText: $almostwhite;
$achievementNotification: rgb(245, 82, 60);
$create: brown;
$progressorange: rgb(241, 98, 88);

// font sizes
$cashew-fontsize: calc(125% + 0.5vw);
$project-fontsize: calc(90% + 0.5vw);
$floating-number-size: calc(100% + 0.5vw);

// project related sizes
$barHeight: calc(12vh + 50px);

// workbar sizes
$wbHeight: calc(50px + 5vw);

// this is used for the flex-items on the canvas
@mixin side-space {
  margin-top: 0.75vh;
  margin-bottom: 0px; 
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 10px);
}

@mixin menu-table {
  //@include side-space;
  width: 100%;
  display: table;
  table-layout: auto;
}

@mixin table-row {
  display: table-row;
  width: 100%;
}

// used to format the cells inside the menu tabs
@mixin table-cell {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid $lightgray;
  //border-radius: 5px;
  border-collapse: collapse;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  width: auto;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;   
  -webkit-tap-highlight-color: transparent;
}

@font-face
{
    font-family:'Roboto Mono';
    src:url('../fonts/RobotoMono-Regular.ttf');
}

html {

  font-family: "Roboto Mono";
  user-select: none;
  color: $almostwhite;
  background-color: $darkgray;
  border: none;
  margin: 0px;
  padding: 0px;

  @include no-select;

  body {  

    display: contents;
    position: relative;

    p {
      margin: 1px
    }

    #navbar {

      border-bottom: 2px solid $lightgray;
      background-color: $darkgray;
      width: 100%;
      
      button {

        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 10px;
        transition: 0.3s;
        
        &.active {
          background-color: $progressorange;
          color: $darkgray;
        }

        &.inactive {
          color: $almostwhite;

          &:hover{
            background-color: $notdarkgray;
            color: $darkgray;
          }
        }

        &.disabled {
          background-color: $quitedarkgray;
          color: $darkgray;
          &:hover{ 
            color: $darkgray;           
            background-color: $quitedarkgray;}
        }
        
        &#logTab {
          display: none;
        }
        
        &#settingsTab {

          position: absolute;
          padding: 1.5px 1.5px;
          right: 0;

          img {
            display:block;
            margin:auto;
            width: 40px;
            height: auto;
            filter: invert(0.75);
          }

          &.active {
            img {
              filter: invert(0.25);
            }
          }
        }
      }

      #cashews {
        width: 100%;
        text-align: center;
        font-size: 175%;
        color: $cashgreen;
        border-top: 2px solid $lightgray;
        line-height: 40px;        
      }

      #companyNameContainer {

        text-align: center;
        width: 100%;

        #companyName {    
          width: calc(100% - 10px);
          text-align: center; 
          font-size: 125%;     
          padding: 5px;
          background-color: transparent;
          color: $almostwhite;
          border: none;
          &:focus {
            outline: none;
          }
        }

      }
    }

    #notifications {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 84%;
      top: 7%;
      pointer-events: none;

      .notification {

        position: relative;
        flex-direction: column;
        z-index: 5000;
        width: 90%;
        height: auto;
        min-height: 5em;
        border-radius: 0.5em;
        background-color: $notification;
        color: $noficationText;
        margin-bottom: 1em;

        h1 {
          text-align: center;
          font-size: 130%;
        }

        p {
          text-align: center;
          font-size: 100%;
          padding: 0.2em;
          margin-bottom: 0.3em;
        }  

        img {
          width: 4em;
          height: auto;
          position: absolute;
          left: 0.75em;
          top: calc(50% - 2em);
        }

        &.achievement {
          width: 80%;
          font-size: 85%;
          background-color: $achievementNotification;          
          h1 { 
            margin-left: 4.75em; 
            line-height: 3em;
          }   
          p { 
            margin-left: 4.75em;
            margin-bottom: 1em; 
          }  
        }
      }  

      #nailed-it {
        position: relative;
        flex-direction: column;
        display: block;
        background-image: url(../img/nailed-it.gif);
        background-position: center;
        width: 150px;
        height: 150px;
        border-radius: 20px;
        z-index: 5000;
      }  
    }



    #canvas {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      margin: 0px;

      #menu {

        width: 100%;
        margin-top: 0px;
        display: none;
        overflow: hidden;

        .tabcontent {

          @include side-space;
          display: none;
          line-height: 20px;

          h1 { font-size: 1.5em; }

          .contentWrapper {

            overflow: auto;
            max-height: 35vh;            
            border: 1px solid $lightgray;
            border-radius: 5px;
            border-collapse: collapse;

            .statTable {

              @include menu-table;

              .statRow {

                @include table-row;
                font-size: 70%;

                .statsLabel {
                  @include table-cell;
                }
                
                .statsValue {
                  @include table-cell;
                  text-align: right;
                }
              }
            }

            .resourceTable {

              @include menu-table;

              .resourceRow {

                @include table-row;

                &.disabled { 
                  color: $inactivegray; 
                  .resourceCost { color: $inactivegray }
                }
                &:hover { background-color: $quitedarkgray; }

                .resourceCount {
                  @include table-cell;
                  text-align: center;
                  font-size: 150%;
                  padding: 0.25rem 1rem 0.25rem 1rem;
                  color: $inactivegray;
                  &.atleastone { color: $progressorange }
                }

                .resourceRate {
                  @include table-cell;
                  text-align: left;
                  font-size: 65%;
                  color: $almostwhite;
                }

                .resourceName {
                  @include table-cell;
                  padding-left: 5px;
                  font-size: 80%;
                  color: $almostwhite;
                }

                .resourceCost {
                  @include table-cell;
                  color: $costred;
                  font-size: 95%;
                  text-align: right;
                  //border-right: 1px solid $lightgray;
                }
              }
            }

            .upgradeTable {

              @include menu-table;

              .upgradeRow {

                @include table-row;
                
                &.not-owned {
                  
                  &.disabled {
                    color: $lightgray;
                    opacity: 90%;
                    
                    .upgradeCost {             
                      color: $lightgray;
                    }
                  }
                  
                  &.enabled {
                    color: $almostwhite;
                  }                
                }

                &.owned {
                  //background-color: $progressorange;
                  //color: $darkgray;
                  color: $progressorange;
                  .upgradeCost {
                    @include table-cell;
                    text-align: right;               
                    color: $darkgray;
                  }
                }

                &.conditionUnmet {
                  display: none;
                }

                .upgradeName {
                  @include table-cell;
                  font-size: 80%;
                }
                
                .upgradeDescription {
                  @include table-cell;
                  font-size: 65%;
                }
                
                .upgradeCost {
                  @include table-cell;
                  text-align: right;               
                  color: $costred;
                }
              }
            }    

            #achievementBox {
              display: flex;
              flex-wrap: wrap; 
              justify-content: flex-start; 
              padding: 5px;            

              .achievement {
                margin: 3px;
                height: 0px;
                width: 0px;
                padding: 30px;
                background: url('../img/achievements/locked.png') ;
                background-size: auto;
                opacity: 40%;

                &.unlocked {
                  width: 3.75rem;
                  height: 3.75rem;
                  padding: 0px;
                  opacity: 100%;
                }
                
                &.new {
                  box-shadow: 0px 0px 10px #d8993b,
                              0px 0px 5px #f8e432;
                }
              }
            }

            #logBox {
              box-sizing: border-box;
              line-height: 15px;
              overflow-y: auto;
              scrollbar-width: none;
              border: 1px solid $lightgray;
              padding: 5px;
            }

            &#settingsContent {
              ul {
                li {
                  font-size: 90%;
                  display: inline-block;
                  width: 100%;
                  line-height: 1em;
                  cursor: pointer;
                  margin-top: 0.5em;
                  margin-bottom: 0.5em;
                }
              }
            }
          }
        }

        .tooltip {
          position: absolute;
          height: auto;
          width: auto;
          background-color: $lightgray;
          color: $darkgray;
          border-radius: 0.25em;
          pointer-events: none;
          padding: 0.25em
        }
      }    

      #workbar {
        
        @include side-space;
        display: block;
        text-align: center;
        height: $wbHeight;
        margin-top: 2vh; 
        margin-bottom: 1vh; 

        .officeContainer {
          position: relative;
          display: none;          
          height: 100%;
          width: $wbHeight;
          border-radius: 0.5rem;
          margin-left: 1vw;
          margin-right: 1vw;

          &.unlocked { display: inline-block }
          &.cooldown { background: $inactivegray; }

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
            cursor: pointer;
            border-radius: 0.5rem;

            &.cooldown,
            &.cooldown:hover { 
              cursor: default;
              
              &.glow1, &.glow2, &.glow3 {
                opacity: 100%;
              }
            }

            &:hover { opacity: 95% } 
            &.glow1 { 
              box-shadow: 0px 0px 25px #d8993b,
                          0px 0px 15px #f8e432;
            }
            &.glow2 { 
              box-shadow: 0px 0px 20px #d8993b,
                          0px 0px 10px #f8e432;
            }
            &.glow3 { 
              box-shadow: 0px 0px 15px #d8993b,
                          0px 0px 8px #f8e432;
            }
          }
        }
      }     

      #projectBuffer {
        font-size: calc(#{$project-fontsize} * 1.25);
        &.full { color: $fullred }
        &.not-full { color: $almostwhite }
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding: 0;
        line-height: calc(#{$project-fontsize} * 1.25);
      }

      #projectBar {
        
        @include side-space;
        height: $barHeight;
        display: flex;
        flex-shrink: 1;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        overflow-x: auto;

        &::-webkit-scrollbar { display: none;}

        .project {
          
          height: 100%;
          position: relative;
          text-align: center;
          cursor: pointer;
          border-radius: 1rem;
          border: 0;
          min-width: calc(#{$barHeight} * 1.15);
          margin-left: 0.5em;
          margin-right: 0.5em;
          display: inline-block;

          p {
            width: 90%;
            display: inline-block;
            padding: 0.25vh;
            margin: 0;
            position: relative;
            font-size: calc(#{$barHeight} / 6);
            color:$darkgray;
            z-index: 15;
          }

          &.active {

            background-color: $projectactive;

            &:hover {
              background-color: lighten($projectactive, 10%);
            }
            
            .progressBar {
              background-color: $progressorange;
            }
          }

          &.inactive {

            background-color: $inactivegray;

            &:hover {
              background-color: lighten($inactivegray, 10%);
            }

            p {
              color: $almostwhite;
            }

            .progressBar {
              background-color: $notdarkgray;
            }
          }

          .progressWrapper {

            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            box-sizing: border-box;
            z-index: 1;
            margin: 0;
            padding: 0;
            bottom: 0;
            border-radius: 1rem;
            overflow: hidden;

            p {
              position: absolute;
              width: 95%;
              font-size: calc(#{$project-fontsize} * 0.9);
              z-index: 10;
              padding: 0;
              margin: 0;
              bottom: 0.5em;
              left: 0;
            }

            .progressBar {
              position: absolute;
              height: 100%;
              width:0%;
              z-index: 2;
            }
          }          
        } 
      }
    }

    
    #footer {

      @include side-space;
      position: absolute;
      bottom: 0;
      height: calc(3rem + 5px);

      #trelloButton {
        position: absolute;
        left: -3px;
        bottom: 0;
        width: 48px;
        height: 48px;
        background-image: url("../img/trello-icon.png");
        cursor: pointer;
        display: none;
      }

      #trello {
        
        position:absolute;
        bottom: 50px;
        left: 2px;
        height: 300px;
        width: 220px;
        background-color: $trelloblue;
        padding: 5px;
        display: none;
        z-index: 100;
        border-radius: 5px;
  
        h1 {
          line-height: 18px;
          font-weight: bold;
          font-size: 130%;
          margin-bottom: 28px;
          margin-top: 10px;
          margin-left: 5px;
        }
  
        .trelloLabel {
          display: flex;
          width: 96%;
          margin-top: 20px;
        }
  
        #trelloDescr {
          position: absolute;
          width: 93%;
          resize: none;
        }
  
        #trelloName {
          width: 96%;
        }
  
        #trelloSend {
          position: absolute;
          bottom: 1%;
          right: 2%;
          height: 10%;
          width: 96%;
          justify-content: center;
          align-items: center;
          display: flex;
          background-color: $create;
          font-weight: bold;
        }
      }
      
      #version {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 0.75em;
        margin: 5px;
        z-index: -5;
      }

      .times {

        position: absolute;
        bottom: 0;
        right: 0px;
        margin: 5px;
        text-align: left;
        display: none;

        p {
          font-size: 0.75em;
          color:$almostwhite;
        }
      }
    }

    .clickProgressIndicator {
      position: absolute;
      padding: 0px;
      margin: 0px;
      text-align: center;
      border-radius: 40%;
      z-index: 25;
      pointer-events:none;
      color: $progressorange;
      font-size: $floating-number-size;
      font-weight: bold;
    }
    
    .addToBalanceIndicator {
      position: absolute;
      padding: 0px;
      margin: 0px;
      text-align: center;
      border-radius: 40%;
      z-index: 25;
      pointer-events:none;
      color: $cashgreen;
      font-size: $floating-number-size;
      font-weight: bold;
    }    
  }
}