html { display: contents; }
body {
  font-family: "Calibri";
  background-color: rgb(44, 44, 44);
  color: #fff;
  margin: 0px;
  padding:0px;
  border:none;
}
p {
  margin: 1px
}
.navbar {
  border-bottom: 2px solid #ccc;
  background-color: #242323;
  width:100%;
  height: 5%;
}
.canvas {
  position:relative;
}
.leftSide {
  width: 50%;
  position:absolute;
  left:0;
  top:0;
}
.rightSide {
  width: 50%;
  position:absolute;
  right:0;
  top:0;
}
.bottomBar {
  position: absolute;
  width: 100%;
  height: 5%;
  bottom:0;
  border-top: 2px solid #ccc;
  text-align: center;
  font-size: 120%;
  box-sizing: border-box;
}
.workbar {
  width: 100%;
  height: 108px;
  bottom:8%;
  box-sizing: border-box;
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;  
}
.workbar img {
  display: flex;
  padding: 5px;
  height: auto;
}

.navbar button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.navbar button.active:hover {
  background-color: rgb(41, 221, 137);
  color:#fff;
}

.navbar button.inactive:hover{
  background-color: #ddd;
  color:rgb(44, 44, 44);
}

.navbar button.active {
  background-color: rgb(41, 221, 137);
  color:rgb(44, 44, 44);
}
.navbar button.inactive {
  color:#fff;
}

.tabcontent {
  display: none;
  border-bottom: 1px solid #ccc; 
  border-collapse: collapse;
  box-sizing: border-box;
  position:absolute;
  left:0;
  top:0;
  width: 100%;
}
.statTable {
  width: 100%;
  display: table;
  line-height: 20px;
}
.resourceTable {
  width: 100%;
  display: table;
  line-height: 20px;
}
.resourceRow {
  width: 100%;
  display: table-row;
  background: inherit;
}
.resourceCount {
  width: 15%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.resourceRate {
  width: 15%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.resourceName {
  width: 40%;
  display: table-cell;
  text-align: left;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  padding-left: 5px;
}
.resourceButton {
  width: 25%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.resourceButton.enabled {
  color: #fff;
}
.resourceButton.disabled {
  color: rgb(111, 110, 110);
}
.resourceButton.enabled:active {
  background-color: #262525;
}
.resourceButton:hover {
  background-color: #4d4a4a;
}
.buttonNumber {
  font-size: 120%;
}
.buttonCost {
  font-size: 90%;
  color: red;
}
.statRow {
  width: 100%;
  display: table-row;
  background: #2e2e2e;
}
.statsLabel {
  width: 50%;
  display: table-cell;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
}
.statsValue {
  width: 50%;
  display: table-cell;
  text-align: right;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}
.logBox {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  background: #2e2e2e;
  line-height: 15px;
  overflow-y: auto;
  scrollbar-width: none;
  border-bottom: 2px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 5px;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:0%;
  background-color: rgb(41, 221, 137);
  z-index: -1;
}

.equipmentTable {
  display: table;
  background-color: inherit;
  width: 100%;
}

.equipmentRow {
  display: table-row;
  background-color: inherit;
  width: 100%;
}

.equipmentRow.not-owned.disabled {
  background-color: inherit;
  color: #ccc;
  width: 100%;
}
.equipmentRow.not-owned.enabled {
  background-color: inherit;
  color: #fff;
  width: 100%;
}
.equipmentRow.owned {
  background-color: rgb(248, 158, 61);
  color: #222;
  width: 100%;
}

.equipmentName {
  display: table-cell;
  width: 30%;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
}
.equipmentDescription {
  display: table-cell;
  width: 50%;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
}
.equipmentCost {
  display: table-cell;
  width: 20%;
  text-align: right;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-right: 5px;
}