body {
  font-family: "Calibri";
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(44, 44, 44);
  overflow-x: hidden;
  color: #fff
}
.leftSide {
  height: 100%;
  width: 50%;
  float: left;
}
.rightSide {
  height: 100%;
  width: 50%;
}
p {
  margin: 0px;
}
div {
  color: #fff;
}
.statBoxWrapper {
  margin-left: 5%;
  margin-top: 5%;
  display: table;
  line-height: 20px;
  border-collapse: collapse;
}
.resourceBoxWrapper {
  margin-left: 5%;
  width: 80%;
  margin-top: 5%;
  padding: 10px;
  display: table;
  line-height: 20px;
  border-collapse: collapse;
}
.resourceWrapper {
  margin-top: 1px;
  width: 100%;
  display: table-row;
  background: #2e2e2e;
}
.resourceCount {
  width: 15%;
  display: table-cell;
  text-align: center;
  border: 1px solid #fff;
  vertical-align: middle;
}
.resourceRate {
  width: 15%;
  display: table-cell;
  text-align: center;
  border: 1px solid #fff;
  vertical-align: middle;
}
.resourceName {
  padding-left: 10px;
  width: 40%;
  display: table-cell;
  text-align: left;
  border: 1px solid #fff;
  vertical-align: middle;
}
.resourceButton {
  width: 25%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #fff;
}
.resourceButton.enabled {
  color: #fff;
}
.resourceButton.disabled {
  color: rgb(111, 110, 110);
}
.resourceButton.enabled:active {
  background-color: #262525;
}
.resourceButton:hover {
  background-color: #4d4a4a;
}
.buttonNumber {
  font-size: 120%;
}
.buttonCost {
  font-size: 90%;
  color: red;
}
.statWrapper {
  margin-top: 1px;
  width: 100%;
  display: table-row;
  background: #2e2e2e;
}
.statsLabel {
  padding-left: 10px;
  width: 50%;
  display: table-cell;
  border: 1px solid #fff;
  color: #fff;
}
.statsValue {
  padding-right: 10px;
  width: 50%;
  display: table-cell;
  text-align: right;
  border: 1px solid #fff;
  color: #fff;
}
.logBox {
  width: 70%;
  height: 250px;
  margin: 5%;
  background: #2e2e2e;
  border: 2px solid #fff;
  line-height: 15px;
  overflow-y: auto;
  padding: 5px;
  padding-bottom: 10px;
}
